<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Digital Library</title>
        <h1 id="headH1">Beni Anla Bana Anlat</h1>
        <!-- <link rel="stylesheet" href="/templates/index_style.css"> -->
        <!-- <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='/styles/login.css') }}"> -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
    </head>
    <body>
        
        <div class="wrapper">
        
            <form method='POST'action='' enctype="multipart/form-data">
                <div>
                    <label>Author:      </label>
                    <input required type="text" name="Author">
                </div>
                <br>
                <div>
                    <label>Description: </label>
                    <input required type="text" name="Description">
                </div>
                <br>
                <div>
                    <label>Book id:     </label>
                    <input type="number" name="Book ID">
                </div>
                <br>
                <div>
                    <label>Book File:   </label>
                    <input type="file" required name="loaded_book">
                    
                </div>
                <br>
                <button type="submit">Load</button>

                
            </form>
        </div>
    </body>
</html>