<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Digital Library</title>
        {% for message in get_flashed_messages() %}
            {{ message }}
        {% endfor %}
        <h1 id="headH1">Beni Anla Bana Anlat</h1>
        <!-- <link rel="stylesheet" href="/templates/index_style.css"> -->
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='/styles/login.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
    </head>
    <body>
        <script src="login.js"></script>
        <div class="wrapper">
        
            <form method='POST' action="">
                <h1>Register</h1>
                <div class="Username">
                    <input type="text" placeholder="Enter First Name" name="firstname" minlength="5" maxlength="20" required id="first_name"/>
                    <i class="fa fa-user"></i>
                </div>
                <div class="Username">
                    <input type="text" placeholder="Enter Last Name" name="surname" minlength="5" maxlength="20" required id="last_name"/>
                    <i class="fa fa-user"></i>
                </div>
                <div class="Password">
                    <input type="password" placeholder="Enter Password" name="password" minlength="8" maxlength="20" required id="UserPassword"/>
                    <i class="fas fa-lock-open"></i>
                </div>
                <div class="Email">
                    <input type="email" placeholder="Enter Email" name="email" id="UserEmail"/>
                    <i class="far fa-envelope"></i>
                </div>
                <!-- <input type="submit"> -->
                <button id="SubmitButton" type="submit">Create An Account</button>
            </form>
        </div>
    </body>
</html>